.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    height: 100px;
}

.location li {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style-type: none;
}


.location i {
   margin-top: 5px;
}
